<!--
File name: footer.ejs
Author's name: Sisi Li
Web site name: Sisi's Portfilo
File description: this is a footer partials
-->

<div class = "footer">
<h2>Get in Touch !</h2>
<a class="btn btn-default" href="/contact" role="button">Contact Me</a>
<footer>&copy; Portfilo by Sisi Li -- COMP308</footer>
</div>