<!--
File name: error.ejs
Author's name: Sisi Li
Web site name: Sisi's Portfilo
File description: this is a error view
-->

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
